@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald:700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway&subset=latin-ext');
//----------------zmienne---------------------
$bg-nav: rgba(0, 0, 0, 0.25);
$bg-home: url(../images/bg.jpg) no-repeat;
$transition: 0.3s all;
$font-nav: 'Roboto', sans-serif;
$font-head: 'Oswald', sans-serif;
$font-body: 'Raleway', sans-serif;
$color-logo: rgb(50, 128, 255);
$bg-layer: rgb(20, 30, 40);
$color-about: #6B00F0;
$color-skills: #0DB500;
//--------------------------------------------
*
{
	box-sizing: border-box;
}
body
{
	background: $bg-layer;
	color: #afafaf;
	font-family: $font-body;
}
a, a:hover, a:link, a:visited
{
	text-decoration: none;
	color: white;
}
.main-nav
{
	display: flex;
	flex-flow: row wrap;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-family: $font-nav;
	text-shadow: 1px 1px 1px black;
	letter-spacing: 2px;
	z-index: 9999;
}
.main-nav a
{
	display: block;
	padding: 1.1em 1.5em;
}
.main-nav ul
{
	margin: 0;
	padding: 0;

	.active
	{
		position: relative;

		&::after
		{
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			background: $color-logo;
			transform-origin: 50% 0;
			transition: 0.25s all;
			animation: 0.35s scaleInX;
		}
	}
}
.main-nav ul li
{
	float: left;
	display: block;
}
.main-nav ul li a
{
	text-transform: uppercase;
	color: white;
	position: relative;
	transition: 0.5s all;
	z-index: 1;
	
	&::before, &::after
	{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&::before
	{
		border: 2px solid $color-logo;
		transform: scaleY(0);
		transition: 0.2s all;
		box-shadow: inset -4px -4px 4px black, inset 0 1px 0 rgba(255, 255, 255, 0.75);
	}
	&:hover::before
	{
		transform: scaleY(1);
	}
	&::after
	{
		transform: scaleX(0);
		transition: $transition;
		background: $color-logo;
		opacity: 0.2;
		transition-delay: 0.15s;
	}
	&:hover::after
	{
		transform: scaleX(1);
	}
}
.logo
{
	color: lighten($color-logo, 20%);
	font-family: $font-head;
	span
	{
		color: $color-logo;
		transition: 0.5s all;
	}
}
.page-layer
{
	padding: 4em 2em;
	z-index: 1;
	.layer-head
	{
		font:
		{
			family: $font-head;
			size: 4em;
		}
		color: white;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
}
.page-layer-1
{
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}
.home-block
{
	background: rgba(255, 255, 255, 0.05);
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.75), 1px 1px 1px black;
	color: white;
	margin-top: 15em;
	padding: 4em 2em;
	position: relative;
	text-transform: uppercase;
	width: 70%;
	h2
	{
		font-size: 2.5em;
	}
	h3
	{
		font:
		{
			size: 2em;
			family: $font-nav;
		}
	}
}
.arrow
{
	background: rgba(255, 255, 255, 0.1);
	border-radius: 100em;
	box-shadow: 1px 1px 1px black, inset 1px 1px 0 rgba(255, 255, 255, 0.5);
	color: white;
	font-size: 1.4em;
	padding: 1em 1.1em;
	text-shadow: 1px 1px 1px black;
	position: relative;
	transform: scale(1);
	&:hover span
	{
		animation: pulseDown 1s infinite;
	}
}
.scene, .scene .layer
{
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
    z-index: -1;
}
.layer
{
	& .bg
	{
		position: absolute;
		background: $bg-home;
		background-size: cover;
		width: 110%;
		height: 110%;
		top: 50%;
    	left: 50%;
   		-webkit-transform: translate(-50%, -50%);
    	transform: translate(-50%, -50%);
	}
}
.page-layer-2
{
	background: darken($bg-layer, 6%);

	.layer-head::after
	{
		background: $color-about;
	}
	span
	{
		color: $color-about;
	}
	.about-content
	{
		font-size: 1.3em;
		line-height: 1.5;
		color: #dfdfdf;
	}
}
.page-layer-3
{
	.layer-head::after
	{
		background: $color-skills;
	}
}
.page-layer-2, .page-layer-3
{
	.layer-head
	{
		position: relative;
		padding-bottom: 0.25em;
	}
	.layer-head::after
	{
		content: '';
		position: absolute;
		top: 100%;
		left: 40%;
		height: 2px;
		width: 20%;
		margin: 0 auto;
	}
}
.bubbles
{
	margin-top: 6em;
	.bubble
	{
		box-shadow: inset 1px 1px 1px white, 1px 1px 1px black;
		border-radius: 100%;
		height: 200px;
		width: 200px;
		overflow: hidden;
		margin: 0 auto;
		position: relative;

		.bubble-content
		{
			height: inherit;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: row;

			.bubble-element
			{
				margin: auto 10px auto 0;
				width: 200px;
				display: block;
				figcaption
				{
					display: none;
				}
			}
		}
	}
	.bubble-control
	{
		cursor: pointer;
	}
	.bubble-description
	{
		color: white;
		font-size: 1.5em;
		margin-top: 1em;
		text-transform: uppercase;;
		transition: 0.15s all;
		font-family: $font-head
	}
	h3
	{
		color: white;
		font-family: $font-head;
	}
}
.skills
{
	overflow: hidden;
	.skill
	{
		height: 80px;
		margin-bottom: 2em;
		position: relative;
		transform-origin: 0 0;
		border-radius: 0 8px 8px 0;

		span
		{
			position: absolute;
			top: 40%;
			font-weight: bold;
			color: white;
			text-shadow: 1px 1px 0 black;
		}
		.title
		{
			left: 1em;
		}
		.value
		{
			right: 1em;
			font-family: $font-head;
		}
		&::after
		{
			content: '';
			position: absolute;
			top: calc(100% + 1em);
			left: 0;
			width: 200%;
			height: 0;
			border: 1px dashed $color-skills;
			transform: scaleX(1);
		}
		&:last-child::after
		{
			border: none;
		}
	}
	$html-color: #FF5A00;
	$css-color: #0060FF;
	$js-color: #C2C426;
	$jquery-color: lighten($css-color, 10%);
	$php-color: #164981;
	$symfony-color: #4800FF;
	.html
	{
		background: linear-gradient(to right, $html-color, lighten($html-color, 15%));
		border: 2px solid darken($html-color, 5%);
	}
	.css
	{
		background: linear-gradient(to right, $css-color, lighten($css-color, 15%));
		border: 2px solid darken($css-color, 5%);
	}
	.js
	{
		background: linear-gradient(to right, $js-color, lighten($js-color, 15%));
		border: 2px solid darken($js-color, 5%);
	}
	.jquery
	{
		background: linear-gradient(to right, $jquery-color, lighten($jquery-color, 15%));
		border: 2px solid darken($jquery-color, 5%);
	}
	.php
	{
		background: linear-gradient(to right, $php-color, lighten($php-color, 15%));
		border: 2px solid darken($php-color, 5%);
	}
	.symfony
	{
		background: linear-gradient(to right, $symfony-color, lighten($symfony-color, 15%));
		border: 2px solid darken($symfony-color, 5%);
	}
}
.page-layer-4
{
	background: url(../images/bg-works.jpg) fixed;
	background-size: 100% 100%;
	box-shadow: inset 0 2px 2px black, inset 0 -2px 2px black;

	& > div > a
	{
		box-shadow: 1px 1px 1px black;
		background: $bg-layer;
		border: 1px solid black;
		border-radius: 100%;
		margin: auto;
		padding: 2em;
		font-size: 2em;
		transition: $transition;
		text-shadow: 1px 1px 1px black;
		position: relative;
		text-align: center;
		overflow: hidden;

		span
		{
			display: block;
			transition: $transition;
			transform: translateY(-250%);
		}

		& > .img
		{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			margin: auto;
			transform: translateY(25%);
			transition: $transition;
		}
		&:hover
		{
			transform: scale3d(1.05, 1.05, 1.05);
			background: lighten($bg-layer, 2%);
			span
			{
				transform: translateY(0);
			}
			.img
			{
				transform: translateY(100%);
			}
		}
	}
}
.nav-normal
{
	background: rgba(0, 0, 0, 0.65);
	& ul li a
	{
		line-height: 1.5em;
	}
	& .logo
	{
		font-size: 1em;
	}
}
.nav-expanded
{
	background: rgba(0, 0, 0, 0.25);
	& ul li a
	{
		line-height: 3.2em;
	}
	& .logo
	{
		font-size: 1.5em;
	}
}
.transition
{
	transition: $transition;
}
.zero-scale
{
	transform: scaleY(0);
}
.fadeOutDown
{
	animation: fadeOutDown 0.3s;
}
.fadeInDown
{
	animation: fadeInDown 0.3s;
}
.scaleInX
{
	animation: 1s scaleInX;
}
.scaleIn
{
	animation: 1s scaleIn;
}
.bounceIn
{
	animation: 1s bounceIn;
}
@media (max-width: 991px)
{
	.page-layer
	{
		padding: 2em 1em;

		.center-block
		{
			width: 90%!important;
		}
		.layer-head
		{
			font-size: 3em;
		}
	}
	.home-block
	{
		margin-top: 10em;
	}
	.page-layer-1 > .center-block:not(:first-child)
	{
		margin-top: 5em!important;
		margin-bottom: 2em;
	}
	.main-nav ul li
	{
		display: block;
		width: 100%;
		text-align: center;
	}
}
@keyframes pulseDown
{
	0%
	{
		transform: translateY(0);
	}
	50%
	{
		transform: translateY(30%);
	}
	100%
	{
		transform: translateY(0);
	}
}
@keyframes fadeOutDown
{
	from
 	{
		opacity: 1;
 	}

	to
	{
    	opacity: 0;
    	-webkit-transform: translate3d(0, 100%, 0);
    	transform: translate3d(0, 100%, 0);
	}
}
@keyframes fadeInDown
{
	from
	{
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to
	{
    	opacity: 1;
   		-webkit-transform: none;
    	transform: none;
	}
}
@keyframes scaleInX
{
	0%
	{
		transform: scaleX(0);
	}
	100%
	{
		transform: scaleX(1);	
	}
}
@keyframes scaleIn
{
	0%
	{
		transform: scale3d(0, 0, 0);
	}
	100%
	{
		transform: scale3d(1, 1, 1);	
	}	
}
@keyframes bounceIn
{
  from, 20%, 40%, 60%, 80%, to
  {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0%
  {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20%
  {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40%
  {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60%
  {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80%
  {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to
  {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}